*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    color: black;
    background: whitesmoke;
  }

html {
    scroll-behavior: smooth;
    background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
} 

#navbar{
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}

.switch a{
    position: relative;
    text-decoration: none;
    color: #7e7e7e;
    font-size: 18px ;
    letter-spacing: 0.5px;
    z-index: 3;
}
/* nav line attribute*/
.switch a:after{
    content: "";
    position: absolute;
    background-color: #f8f8f8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    z-index: 3;
}
/* nav text while hover*/
.switch a:hover{
    color: #ffffff;
    z-index: 3;
}
/* nav line while hover */
.switch a:hover:after{
    width: 100%;
}

.text{
    height: 90vmin;
}

.text:nth-child(odd){
    justify-content: flex-end;
}

.text h1{
    padding-top: 11vh;
    color: whitesmoke;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    animation: fadeIn alternate 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.text p
{
    color: whitesmoke;
    text-align: center;
    font-size: 2vw;
    font-weight: normal;

    animation: fadeIn alternate 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.line{
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
}

#line1{
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.25s;
    animation-iteration-count:infinite;
}

#line2{
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}

#line3{
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.75s;
    animation-iteration-count:infinite;
}

#line4{
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1s;
    animation-iteration-count:infinite;
}

#line5{
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1.25s;
    animation-iteration-count:infinite;
}

#line6{
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1.5s;
    animation-iteration-count:infinite;
}

#line7{
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1.75s;
    animation-iteration-count:infinite;
}

@keyframes wave {
    0%   {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}
}


/* ========================================================================================================================= */

@media screen and (max-width: 480px){
    .text h1{
        font-size: 6.5vw;
    }

    .text p{
        font-size: 3vw;
    }


}


