*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: black;
    background: whitesmoke;
  }

html {
    scroll-behavior: smooth;
    background-color: black;
}

/* .webgl
{
    position: fixed;
    top: 0;
    left: 0;
}  */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #595959; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #252525; 
  }

#navbar{
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}

.switch a{
    position: relative;
    text-decoration: none;
    color: #595959;
    font-size: 18px ;
    letter-spacing: 0.5px;
    z-index: 3;
}
/* nav line attribute*/
.switch a:after{
    content: "";
    position: absolute;
    background-color: whitesmoke;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    z-index: 3;
}
/* nav text while hover*/
.switch a:hover{
    color: whitesmoke;
    z-index: 3;
}
/* nav line while hover */
.switch a:hover:after{
    width: 100%;
}

.text{
    height: 95vmin;
}

.introtext{
    height: 50vmin;
}

.introtext h1{
    color: whitesmoke;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    animation: fadeIn alternate 2s;
}

/* upper left */
#divtag{
    display: flex;
    position: relative;
    top: 10vmin;
    left: 15vw;
    width: 50%;
}

#tagl{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.25s;
    animation-iteration-count:infinite;
}
#tagv2{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#tagv3{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.75s;
    animation-iteration-count:infinite;
}

/* bottom right */
#divbinary{
    padding-top: 2vmax;
    display: flex;
    position: relative;
    left: 75vw;
    width: 20%;
}

#b3{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0s;
    animation-iteration-count:infinite;
}
#b2{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#b1{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1s;
    animation-iteration-count:infinite;
}
#b4{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1.5s;
    animation-iteration-count:infinite;
}
#b3_2{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 2s;
    animation-iteration-count:infinite;
}
#b2_2{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#b1_2{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1s;
    animation-iteration-count:infinite;
}
#b4_2{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1.5s;
    animation-iteration-count:infinite;
}

/* upper right */
#divpoppop{
    transform: rotate(-7deg);

    position: relative;
    left: 62vw;
    width: 20%;
}
#poppop3{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.25s;
    animation-iteration-count:infinite;
}
#poppop2{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#poppop1{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.75s;
    animation-iteration-count:infinite;
}

/* bottom left */
#divpop{
    transform: rotate(-7deg);

    position: relative;
    top: -1vmin;
    left: 25vw;
    width: 20%;
}

#pop2{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.25s;
    animation-iteration-count:infinite;
}
#pop1{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#pop3{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.75s;
    animation-iteration-count:infinite;
}

#divpen{
    display: flex;
    position: relative;
    /* top: 10vmin; */
    left: 20vw;
    width: 50%;
}
#pen{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1.25s;
    animation-iteration-count:infinite;
}

#divbling{
    padding-top: 2vmax;
    display: flex;
    position: relative;
    left: 75vw;
    width: 20%;
}
#bling2{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.25s;
    animation-iteration-count:infinite;
}
#bling1{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#bling3{
    animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.75s;
    animation-iteration-count:infinite;
}

#divar{
    position: relative;
    left: 65vw;
    width: 20%;
}

#ar1, #ar1_2, #ar1_3{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0s;
    animation-iteration-count:infinite;
}
#ar2, #ar2_2, #ar2_3{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#ar3, #ar3_2, #ar3_3{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1s;
    animation-iteration-count:infinite;
}
#ar4{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1.5s;
    animation-iteration-count:infinite;
}
#ar5{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 2s;
    animation-iteration-count:infinite;
}

#divare{
    position: relative;
    top: 5vmin;
    left: 25vw;
    width: 20%;
}

#are1, #are1_2, #are1_3, #are1_4{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0s;
    animation-iteration-count:infinite;
}
#are2, #are2_2, #are2_3, #are2_4, #are2_5{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#are3, #are3_2, #are3_3, #are3_4, #are3_5{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1s;
    animation-iteration-count:infinite;
}
#are4, #are4_2, #are4_3, #are4_4{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1.5s;
    animation-iteration-count:infinite;
}

#divkeeb1{
    position: relative;
    /* top: 10vmin; */
    left: 15vw;
    width: 50%;
}

#keeb11{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0s;
    animation-iteration-count:infinite;
}
#keeb12{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}
#keeb13{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1s;
    animation-iteration-count:infinite;
}

#divkeeb2{
    /* padding-top: 2vmax; */
    display: flex;
    position: relative;
    left: 67vw;
    width: 20%;
}

#keeb23{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1.25s;
    animation-iteration-count:infinite;
}
#keeb22{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 1.75s;
    animation-iteration-count:infinite;
}
#keeb21{
    animation-name: wave;
 	animation-duration: 5s;
  	animation-delay: 2.25s;
    animation-iteration-count:infinite;
}

.text h1{
    color: whitesmoke;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    animation: fadeIn alternate 2s;
}

.text p
{
    color: whitesmoke;
    text-align: center;
    font-size: 2vw;
    font-weight: normal;

    animation: fadeIn alternate 2s;
}

.line{
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    animation: fadeIn 5s;
}

#line1{
    border: 1px solid #595959;
    
	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.25s;
    animation-iteration-count:infinite;
}

#line2{
    border: 1px solid #595959;

	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.5s;
    animation-iteration-count:infinite;
}

#line3{
    border: 1px solid #595959;

	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 0.75s;
    animation-iteration-count:infinite;
}

#line4{
    border: 1px solid #595959;

	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1s;
    animation-iteration-count:infinite;
}

#line5{
    border: 1px solid #595959;

	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1.25s;
    animation-iteration-count:infinite;
}

#line6{
    border: 1px solid #595959;

	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1.5s;
    animation-iteration-count:infinite;
}

#line7{
    border: 1px solid #595959;

	animation-name: wave;
 	animation-duration: 2s;
  	animation-delay: 1.75s;
    animation-iteration-count:infinite;
}

.see{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#goProject {
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  
  #goProject {
    background-color: black;
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  
  #goProject:hover {
    background-color: whitesmoke;
    color: black;
  }


#footer h2 {
    text-align: left;
    color: whitesmoke;
    font-weight: bold;
    font-size: 4.5vh;
}
#footer p {
    text-align: left;
    color: whitesmoke;
}
#footer h4 {
    text-align: left;
    color: #595959;
    font-weight: bold;
    font-size: 2.5vh;
}
#footer h4:hover{
    color: whitesmoke;
}
#footer a{
    text-decoration: none;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh;
}

#copyright{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#links{
    height: 50h;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes wave {
    0%   {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}
}


/* ========================================================================================================================= */

@media screen and (max-width: 480px){
    .text h1{
        font-size: 8.5vw;
    }

    .introtext h1{
        font-size: 8.5vw;
    }

    .text p{
        font-size: 4vw;
    }

    #footer{
        margin-top: 7vh;
        flex-direction: column-reverse;
    }

    #copyright h2{
        font-size: 5vw;
    }
    #copyright p{
        font-size: 2vw;
    }
    
    #copyright{
        align-items: center;
    }
    #links{
        align-items: center;
        height: 80vw;
        font-size: 4vw;
    }
    .switch a{
        font-size: 16px;
    }
}

/* projects ===================================================================================================================== */

#cardContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#cards{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#cards a{
    text-decoration: none;
    height: 250px;
}

.btbcard, .dtacard, .lbwcard, .lbacard, .rpucard{
    background-image: url('./Resources/outline.png');
    width: 546px;
    height: 196px;
    background-repeat: no-repeat;
	transition: background-image 0.7s;
}

.btbcard h1, .dtacard h1, .lbwcard h1, .lbacard h1, .rpucard h1{
    padding: 25px;
    color: whitesmoke;
    font-weight: 700;
}

.btbcard p, .dtacard p, .lbwcard p, .lbacard p, .rpucard p{
    color: whitesmoke;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;

}



.btbcard:hover{
    background-image: url('./Resources/btbcard.png');
}

.dtacard:hover{
    background-image: url('./Resources/dtacard.png');
}

.lbwcard:hover{
    background-image: url('./Resources/lbwcard.png');
}

.lbacard:hover{
    background-image: url('./Resources/lbacard.png');
}

.rpucard:hover{
    background-image: url('./Resources/rpucard.png');
}





@media screen and (max-width: 480px){
    #projecttext{
        width: 80%;
        font-size: 5.6vw;
        height: 30vh;
    }

    .btbcard, .dtacard, .lbwcard, .lbacard, .rpucard{
        width: 85vw;
        height: 35vw;
        background-image: none;
        border: 1px solid whitesmoke;
        border-radius: 10px;
    }

    .btbcard:hover, .dtacard:hover, .lbwcard:hover, .lbacard:hover, .rpucard:hover{
        background-image: none;
    }

    .btbcard h1, .dtacard h1, .lbwcard h1, .lbacard h1, .rpucard h1{
        color: whitesmoke;
        font-weight: 700;
        font-size: medium;
    }

    .btbcard p, .dtacard p, .lbwcard p, .lbacard p, .rpucard p{
        color: whitesmoke;
        font-weight: 400;
        font-size: small;
    }
    
    #cards a{
        text-decoration: none;
        height: 45vw;
    }
}



/* Kyoukai no Katana - Beyond the Boundaries ==================================================================================== */

.phone{
    height: 120vh;
    background-color: black;
}

/* .phone video{
    width: 70%;
}
.phone h2 {
    position: relative;
    text-align: center;
    color: #595959;
    font-weight: bold;
    z-index: 1;
    font-size: 4vh;
    padding: 0.7vh;
} */

#beyondbody {
    height: 500vh;
  }

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
  }
/* ============================================================================================================================================= */

